@import '~bootstrap/scss/bootstrap';

@import 'partials/reset';
@import 'partials/vars';
@import 'partials/fonts';
@import 'partials/header';
@import 'partials/login';
@import 'partials/admin';
@import 'partials/gallery';
@import 'partials/mouse';

html, body {
    background-color: $black;
    color: $priolet;
    margin: 0;
    min-height: 100%;
    font-family: 'Julius Sans One', sans-serif;
    line-height: 1;
}