<footer class="section footer">
	<div class="container">
		<div class="footer-content">
			<div class="footer-contact-wrapper">
				<img src="{{ asset('img/logo_mirko_ace.jpg')}}" alt="" class="footer_illustration">
				<a data-w-id="238bcb83-b065-601c-700e-4c120c856163" href="mailto:mirko.ace@gmail.com?subject=Devis Tattoo" class="footer_email w-inline-block">
					<p class="large_heading footer">Tatoue toi !</p>
					<div data-w-id="238bcb83-b065-601c-700e-4c120c856166" class="footer-line" style="width: 0%; height: 3px;"></div>
				</a>
			</div>
			<div class="footer-grid-bottom">
				<div id="w-node-_238bcb83-b065-601c-700e-4c120c856168-d83c6ed8" class="footer-link">
					<p class="regular_paragraph">© 2022 Mirko Ace</p>
				</div>
				<a id="w-node-_238bcb83-b065-601c-700e-4c120c856170-d83c6ed8" href="https://www.instagram.com/mirko_ace/?hl=fr" target="_blank" class="footer-link center w-inline-block">
					<p class="regular_paragraph">instagram</p>
				</a>
				<a href="#hero-carne" id="w-node-_238bcb83-b065-601c-700e-4c120c856173-d83c6ed8" class="footer-link right w-inline-block">
					<p class="regular_paragraph">Retour aux catégories</p>
					<div class="footer-arrow-circle">
						<div class="arrow-footer w-embed">
							<svg width="11" height="12" viewbox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 5.5L5.5 1L10 5.5" stroke="currentColor"></path>
								<path d="M5.5 11.5V1.5" stroke="currentColor"></path>
							</svg>
						</div>
						<div class="inner-top"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>